.container{
  width: 800px;
  margin: 0 auto;
}

.header{
  background-color: #ff9400;
  height: 100px;
}

.content{
  background-color: #E1E0E1;
  height: 400px;
}

.footer{
  background-color: #905BAE;
  height: 100px;
}

.footer span{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.header img{
  height: inherit;
  margin-left: 20px;
}

.header span{
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}

body{
  background-color: #f8f8f8;
}

.menu {
  font-style: normal;
  font-size: 20px;
  list-style-type: none;
}

.menu a{
  color: #8B00FF;
}

.menu a:hover{
  color: #1896FF;
  text-decoration: none;
}

.menu a:active{
  color: red;
}

.content_pages a img{
  border:2px solid black
}

.content_pages h1, h2{
  color: black;
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;
}

.content_pages h1 + p{
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}

.content_pages h2 + p{
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.content_pages ul{
  color: black;
  font-size: 16px;
  list-style-image: url(../img/marker.png);
}



.user_data input[type="text"]{
  width: 400px;
  height: 20px;
  color: #606060;
  font-size: 20px;
  font-style: italic;
  text-transform: capitalize;
}

.user_data input[type="text"]:nth-child(2):focus{
  color: white;
  background-color: blue;
}

table, th, td{
  border: 1px solid black;
}
