

.container{
  width: 800px;
  margin: 0 auto;
}

.header{
  background-color: #ff9400;
  height: 100px;
}

.menu a{
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;/* Approximation due to font substitution */
  font-weight: 700;
  line-height: 48px;/* Approximation due to font substitution */
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  margin-top: 30px;
  margin-left: 12px;
}

.logo{
  height: inherit;
}

.logo img{
  height: inherit;
}

.active{
  margin-top: 50px;
  margin-right: -85px;
  float: right;
}

.search{
  float: right;
  margin-left: -300px;
}

.search img{
  width: 15px;
  margin-left: -23px;
  margin-bottom: -3px;
}

.menu a:hover{
  color: #1896FF;
  text-decoration: none;
}

.menu a:active{
  color: red;
}

.content{
  background-color: #E1E0E1;
  /* height: 400px; */
}

.footer{
  background-color: #f7f7f7;
  height: 384px;
}

.footer_h{
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.footer_t{
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 22px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.footer_1{
  width: 221px;
  height: 139px;
  float: left;
}


.footer_2{
  margin-left: 10px;
  width: 400px;
  height: 101px;
  float: left;
}

.footer_2_t_1{
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 26px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
  float: left;
  margin-right: 20px;
}

.footer_2_t_2{
  font-family: Montserrat;
  color: #212121;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 26px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
  clear: both;
}

.footer_4{
  width: 150px;
  height: 180px;
  margin-left: 0px;
  float: left;
}

.footer_f input{
  width: 130px;
}

.footer_f img{
  margin-left: -30px;
  margin-bottom: -5px;
}

.footer_copy{
  clear: both;
  font-family: Montserrat;
  color: #6c6c6c;
  font-size: 12px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 26px;/* Приближение из-за подстановки шрифтов */
  width: inherit;
}

.footer_copy_i{
  text-align: center;
  float: left;
  width: 33.3%;
}

.footer_copy_l{
  width: 33.3%;
  text-align: left;
  float: left;

}

.footer_copy_r{
  width: 33.3%;
  text-align: right;
  float: left;
}

body{
  background-color: #f8f8f8;
}

.catalog_items{
  float: left;
  width: 300px;
  margin-right: 15px;
}

.content_pages a img{
  border:2px solid black;
  float:left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.content_pages input[type="button"]:active{
  background-color: gray;
}

.content_pages input[type="button"]:hover{
  color: red;
}

.content_pages h2{
  clear: both;
}

.content_pages h1, h2{
  color: black;
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;
}

.content_pages h1 + p{
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}

.content_pages h2 + p{
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.content_pages ul{
  color: black;
  font-size: 16px;
  list-style-image: url(../img/marker.png);
}



.user_data input[type="text"]{
  width: 400px;
  height: 20px;
  color: #606060;
  font-size: 20px;
  font-style: italic;
  text-transform: capitalize;
}

.user_data input[type="text"]:nth-child(2):focus{
  color: white;
  background-color: blue;
}

table, th, td{
  border: 1px solid black;
}
